<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.WCFSampleProductsConnectionString"
            connectionString="Data Source=INGA-PC\SQLEXPRESS;Initial Catalog=WCFSampleProducts;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>