<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings configSource="Configurations\Service.config"/>
  
  <system.serviceModel>
    <services>
      <service name="Service.ProductService">
        <endpoint
          address=""
          binding="netNamedPipeBinding"
          contract="Contract.IProductService">
        </endpoint>

        <endpoint
          address="mex"
          binding="mexNamedPipeBinding"
          contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>